
.grid1 {
    height: 100%;
    padding: 0px;
}

.container-login {
    width: 90%;
    padding: 10px;
 

}


// .row2 {
//     background: url(../imagenes/fondo.jpg) 0 0/100% 100% no-repeat;
//     height: 50%;
   
// }

.row1 {
    height: 100%;
    background: url(../imagenes/fondo.jpg) 0 0/100% 100% no-repeat;

}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}